* {
	margin: 0;/*remove default margins so the results are the same in differnt browers*/
	padding: 0;/*remove default padding so the results are the same in differnt browers*/
	font-family: arial;/*set defualt font to arial*/
}

:root {/* code from  https://www.w3schools.com/css/css3_variables.asp */
  --active: #2fbeee;/* green: 1fb622, blue: 2fbeee, red: e15349 */
  --timelineBack: #8ce2ff;/* green: cff0c5, blue: 8ce2ff, silver: #aaa */
}

  /*                           */
 /* format the navigation bar */
/*                           */
nav {
  position: absolute;
  top: 1em; /* push the nav menu down 1em */
	width: 100%;
	height: 2em;
  font-weight: bold;
  z-index: 1; /* render on top of the background */
}

nav ul {
  list-style-type: none;
  float: right;
  height: 100%;
  margin-right: 2em; /* add a margin on the right of the navigation menu so the nav items don't sit right next to the edge of the screen */
}

nav li {
  display: inline;
  float: left;
  height: 100%;
  width: 6em;
  line-height: 2em;
}

nav li:hover {
  background-color: rgba(255,255,255,0.5);
}

nav a {
  display: block;
  color: #232323;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* create the link underline, and its animation to play when it loads.*/
#navUnderline {
  height: .15rem;
  position: relative;
  top: -0.5em;
  left: 6.67%; /* push the element in a bit to center it, amount is calculated by (left=33.33%-width/2), 33.33% comes from the width of the list items (1/3), this needs to be updated if more pages are added */
  width: 20%; /* if the units of width of this element is not in % it isn't positioned properly */
  background: #232323;
  border: none;
  pointer-events: none; /* disable hovering over this element so that it doesn't interupt hovering over the list items */
  transition: .3s ease-in-out;/* create smooth natural looking animation when changing properties */
  animation-name: introNavUnderline;
  animation-duration: .3s;
}

@keyframes introNavUnderline {
  0%   {left: 0;     width: 33.33%; top: 0.5em;  opacity: 0.5;}
  100% {left: 6.67%; width: 20%;    top: -0.5em; opacity: 1;  }
}

li:nth-of-type(1).currentTab ~ #navUnderline {
  color: #000;
  /*margin-left: 0;*/
}

li:nth-of-type(2).currentTab ~ #navUnderline {
  margin-left: 6em;
}

li:nth-of-type(3).currentTab ~ #navUnderline {
  margin-left: 12em;
}

/* code below based of off content from https://speckyboy.com/underline-text-effects-css/ (section 3. Sliding underneath) */
nav li:nth-of-type(1):hover ~ #navUnderline {
  margin-left: 0;
}

nav li:nth-of-type(2):hover ~ #navUnderline {
  margin-left: 33.33%; /* as there are only 3 list items, the width of a single element is aproximatley 33.33% */
}

nav li:nth-of-type(3):hover ~ #navUnderline {
  margin-left: 66.66%;
}

  /*                         */
 /* format the main content */
/*                         */

html, body {
  height: 100%;
}

main {
  background-color: #d7d8d3;
  z-index: 0;/* show behind everything else */
}

.background {
  position: relative;
  height: calc(100vh - 4em); /* the footer is 4em in height */
  width: 100vw;
  overflow: hidden;
}

.background img {
  position: relative;
  height: calc(100vh - 4em);
  width: auto;
  pointer-events: none; /* make sure the background or mask-image won't cover the nav links */
  z-index: -1; /* this forces the linear gradient to render behind the contents on top of the background */
  mask-type: alpha;
  -webkit-mask-type: alpha;
}

a {
  text-decoration: none;
  color: black;
}

header { /* this is for the titles on each page */
  height: 3em;
  text-align: center;
}

span.right {
  float: right;
  color: var(--active);
}

.content { /* This class is for the main content on each page */
  position: absolute; /* left and right positioning is set with inline styling, as each page has different positions */
  top: 6em;
  padding: 1em;
  width: 40em;
  background-color: rgba(255, 255, 255, 0.75);
  color: #232323;
}

#contentPicture { /* this div contains the displayPic, and is used to position and size it */
  height: 24em;
  text-align: center;
}

#displayPic { /* Setup the main picture on the index page */
  width: auto;
  height: 100%;
}

.title { /* this is needed to center align the titles on the contact and about pages */
  text-align: center;
}

#profilePic { /* Setup the profile pic as a circular badge */
  position: relative;
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: 0 0;
  border: 0.1em solid #666;
  border-radius: 50%;
  margin-right: 1em;
  transform: translateY(25%);
}

  /*                                            */
 /* Format the classes for the contact details */
/*                                            */

#contact { /* this is the wrapper div for the contact info */
  width: 20em;
  margin: 0 auto;
  margin-top: 2em; /* Push the div away from the title */
  position: relative;
  z-index: 1;
}

.contactRow {
  margin-bottom: 6em; /* add large spacing between rows */
  height: 3em;
  display: grid;
  grid-template-columns: 5em 15em;
  grid-template-rows: 3em; /* make sure the grid is the same height as the div */
}

.contactIcon {
  display: inline;
  float: left;
  padding: 0;
  height: 100%;
}

.contactInfo {
  display: inline;
  text-align: left;
}

.contactTitle { /* the contact details are presented in a table, this class is used on the left column */
  font-weight: bold;
  border-collapse: separate;
}

.contactIcon {
  padding-right: 1em; /* add some spacing between the icon and the title, that can still be clicked on */
}
  /*                                                                                                                 */
 /* Setup the email Icon and its animation - based off of code from https://codepen.io/jakegilesphillips/pen/MveNLe */
/*                                                                                                                 */

#emailIcon {
  position: relative;
  top: 0; /* set a default value to animate from */
  height: 35px;
  width: 50px;
  margin: 0 auto; /* with a defined height and width this will center the div */
  background-color: #232323;
  transition: top .4s ease .4s;
}

/* ids below are for the envelope, and are heavily edited from the source*/
#envelopeBody {
  position: relative; /* we need a position for z-index to work */
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 17.5px 25px 17.5px 25px; /* top right bottom left */
  border-color: transparent var(--active) var(--active) var(--active); /* top right bottom left */
  z-index: 2; /* we want this to render infront of the page */
}

#topFold {
  position: relative;
  top: -35px; /* the #envelopeBody div pushes this div down 35px, we want to offset this */
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 17.5px 25px 0 25px; /* top right bottom left */
  border-color: var(--active) transparent transparent transparent; /* top right bottom left */
  z-index: 2; /* we want this to render infront of the page, when not hovering */
  transform-origin: 0 0; /* change the point of rotation, so this element can be rotated about its x-axis at the "envelope hinge" */
  transition: transform .4s ease .4s, z-index 0s linear .6s;
}

/* ids below are for formatting the letter inside the envelope, and has been changed a little bit from the source*/
#letter {
  position: absolute;
  bottom: 0px;
  left: 5px; /* center the letter */
  width: 40px;
  height: 15px;
  background: #eee;
  overflow: hidden;
  z-index: 1;
  text-align: left;
  transition: height .4s ease .3s;
}

#letterBorder {
  height: 5px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--active), var(--active) 4px, transparent 4px, transparent 7px);
}

#letterTitle {
  margin-top: 5px;
  margin-left: 5px;
  height: 2px;
  width: 0;  /* this will be animated out to 40%*/
  background: var(--active);
  transition: width .4s ease-out .2s;
}

#letterContext {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  height: 2px;
  width: 0;  /* this will be animated out to 20% */
  background: var(--active);
  transition: width .4s ease-out .1s;
}

.letterContent { /* set up a class to repeat as content */
  margin-top: 2px;
  margin-left: 5px;
  height: 2px;
  width: 0; /* this will be animated out to 30 px */
  background: var(--active);
  transition: width .6s ease-out;
}

/* setup the animations on hover */
#contactEmail:hover #topFold {
  transition: transform .4s, z-index 0s linear .2s;
  transform: rotateX(-180deg);
  z-index: 0; /* now go behind the page */
}

#contactEmail:hover #emailIcon {
  transition: top .4s;
  top: 10px;
}

#contactEmail:hover #letter {
  transition: height .4s ease .1s;
  height: 60px;
}

#contactEmail:hover #letterTitle {
  transition: width .4s ease-out .2s;
  width: 40%;
}

#contactEmail:hover #letterContext {
  transition: width .4s ease-out .3s;
  width: 20%;
}

#contactEmail:hover .letterContent {
  transition: width .6s ease-out .4s;
  width: 30px;
}
  /*                                          */
 /* setup the mobile icon and its animations */
/*                                          */
#mobileIcon {
  height: 100%;
  transform: translateY(-0.5em); /* center the middle of the phone to the center of the contact info */
  transition: .3s;
}

#contactMobile:hover #mobileIcon{
  animation: shake 1.3s ease-in-out infinite;
  transform: translateY(-0.5em);
  height: 110%;
  transition: .3s;
}

@keyframes shake {
  0%  {transform: translateY(-0.5em) rotateZ(0);}
  6% {transform: translateY(-0.5em) rotateZ(-10deg);}
  12% {transform: translateY(-0.5em) rotateZ(10deg);}
  18% {transform: translateY(-0.5em) rotateZ(-10deg);}
  24% {transform: translateY(-0.5em) rotateZ(10deg);}
  30% {transform: translateY(-0.5em) rotateZ(-10deg);}
  36% {transform: translateY(-0.5em) rotateZ(10deg);}
  42% {transform: translateY(-0.5em) rotateZ(-10deg);}
  48% {transform: translateY(-0.5em) rotateZ(10deg);}
  54% {transform: translateY(-0.5em) rotateZ(-10deg);}
  60%{transform: translateY(-0.5em) rotateZ(0);}
  100%{transform: translateY(-0.5em) rotateZ(0);}
}

  /*                         */
 /* setup the linkedin icon */
/*                         */

#linkedinIcon {
  height: 90%;
  transform: translateY(-0.5em);
  transition-duration: 0.5s;
}

#linkedinIconHover {
  position: relative;
  top: calc(-100% + 1px); /* note sure why (might be a rounding thing) but the background image was sitting one pixel too high */
  height: 90%;
  transform: translateY(-0.5em);
}

#linkedinNotification {
  position: relative;
  top: -250%; /*-200% to center the div back, another -50% to move the div to the top */
  left: 50%; /*move the div out of the center to the right edge*/
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
  background-color: #f84f31;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  opacity: 0; /* hide the notification */
  transform: translate(-50% ,50%); /* translate the divs center to the top right hand corner of the icon */
  transition-duration: 0.5s;
}

#contactLinkedin:hover #linkedinIcon {
  transition-duration: 0.5s;
  opacity: 0;
}

#contactLinkedin:hover #linkedinNotification {
  transition-duration: 0.5s;
  opacity: 1;
}

  /*                                      */
 /* setup the github icons and animation */
/*                                      */

#githubIcon {
  position: relative;
  left: 0;
  height: 100%;
  transform: translateY(-0.5em);
  transition: 0.3s ease-in-out;
}

#githubText {
  position: relative;
  opacity: 0;
  top: -100%;
  left: -60%;
  height: 100%;
  transition: 0.3s ease-in-out;
  transform: translateY(-0.5em);
}

#contactGithub:hover #githubText {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

#contactGithub:hover #githubIcon {
  transition: 0.3s ease-in-out;
  left: -150%;
}

  /*                                                        */
 /* Setup the classes for the skill bars on the home page  */
/*                                                        */
.skills { /* this formats the whole skills table */
  width: 100%;
  font-weight: bold;
  margin-bottom: 0.8em; /* add some spacing between tables stacked on top of each other */
}

.skills {
  border-spacing: 1em 0;
}

.skills td {
  width: 50%;/* force the columns to be the same width */
}

.progressBackground { /* this is for the background behind the progess bar */
  height: 0.7em;
  width: 100%;
  background-color: #d7d8d3;
}

.progressBar { /* this forms the progress bar itself */
  height: 100%;
  background-color: var(--active);
}

  /*                                                                                                    */
 /* Setup the classes for the timeline (based off of code from https://freefrontend.com/css-timelines/)*/
/*                                                                                                    */

.timeline {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2em;
  padding-left: 6em;
  position: relative;
  width: auto;
  margin-left: 0em;
  pointer-events: auto;
  z-index: 99;
}

.timelineHeader::before { /* this pseudo-element forms the dots next to each entry in timeline */
  content: '';
  position: absolute;
  left: -1em;
  transform: translate(-50%);
  background-color: #fff;
  border-style: solid;
  border-color: #232323;
  border-width: 4px;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
}

.timelineEntry {
  position: relative;
  color: #232323;
  margin-bottom: 1em;
  cursor: pointer;
}

.timelineEntry::before { /* this pseudo-element forms the line */
  content: '';
  position: absolute;
  left: -1em;
  bottom: -1em;/* each entry (except the last) has a 1em padding on the bottom */
  background-color: #232323;
  width: 4px;
  margin-right: 0em;
  transform: translate(-50%);
  height: 100%;
}

.timelineEntry:last-child { /* remove the bottom padding from the last entry */
  margin-bottom: 0em;
}

.timelineEntry:last-child::before { /* the last entry doesn't have padding, so we don't need to extend the line */
  bottom: 0em;
}

.timelineEntry:last-child::after { /* this pseudo-element renders the cap at the end of the timeline */
  content: '';
  position: absolute;
  left: -1em;
  transform: translate(-50%);
  border-style: solid;
  border-color: #232323;
  border-top-width: 2px;
  border-bottom-width: 0;
  width: 0.5em;
}

.timelineDate {
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 0.3em;
}

.timelineTitle {
  font-weight: bold;
  font-size: 15pt;
}

.timelineBody {
  display: none;
  max-width: 50em;
  background-color: var(--timelineBack);
  color: #232323;
  padding: 1em;
  margin-top: 0.25em;
  border-radius: 0.5em;
}

.timelineEntry:hover::before { /* highlight the line on hover */
  background-color: var(--active);
}

.timelineEntry:hover .timelineHeader::before/*dot*/, .timelineEntry:last-child:hover::after/*end cap*/ {
  border-color: var(--active);
}

.timelineEntry:hover {
  color: var(--active);
}

.timelineEntry:hover .timelineBody { /*change the color for the body back so it isn't affected on hover*/
  color: #232323;
}

  /*                                                               */
 /* formatting for the background canvas element on the home page */
/*                                                               */
#perlin {
  background: #333;
}

  /*                      */
 /* formating the footer */
/*                      */

body {
  display: grid;
  grid-template-rows: auto 4em;/* a grid template is use to make sure the body takes up at least 1vh. the last number set sthe height of the footer */
}

footer {
  width: 100%;
  height: auto;
  background-color: #232323;
  display: grid;
  align-items: center;
  text-align: center;
  color:  #e9ecf0;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
}

.footerIcon {
  width: 2em;
  height: 2em;
}

#email:hover {
  content: url("../Images/email_hover.svg");
}

#github:hover {
  content: url("../Images/github_hover.svg");
}

#linkedIn:hover {
  content: url("../Images/linkedin_hover.svg");
}