* {
	margin: 0;
	padding: 0;
	font-family: arial;
  /*background-color: #333*/;
}

/* navbar */
nav {
	width: 100%;
	height: 3em;
	background-color: #242323;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav li {
  display: inline;
  float: left;
  height: 100%;
  line-height: 3em;
}

nav a {
  display: block;
  color: #e2e2e2;
  text-align: center;
  text-decoration: none;
  height: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

nav a:hover {
  background-color: #444;
}

nav a.current { /* current class is used on the navigation tab corresponding to the current page */
  border-bottom: solid 0.2em;
  border-color: #fca311;
  color:  #fca311;
  /*background-color: #242323;*/
  height: 2.8em;
  line-height: 3em;
}

/* formating for main content */
body {
  background-color: #333;
}
.content {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 1em;
  margin: 2em;
  border-radius: 10px;
  background-color: #fff;
  /*background-color: #e9ecf0;*/
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z: 1;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* settings for box shadow taken from w3 schools - https://www.w3schools.com/css/css3_shadows_box.asp */
}

header {
  height: 5em;
  text-align: center;
}

.title {
  text-align: center;
}

/*#pictureDiv {
  width: 3em;
}*/

#profilePic { /* Setup the profile pic as a circular badge */
  position: relative;
  top: 0em;
  left: 0em;
  width: 5em;
  height: 5em;
  object-fit: cover;
  object-position: 0 -10%;
  border-radius: 50%;
  border: 0.1em solid #666;
}

#displayPic { /* Setup the main picture on the index page */
  top: 1em;
  left: 1em;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 1px #e9ecf0;
}

.progressBackground {
  height: 0.7em;
  width: 100%;
  background-color: #939393;
}

.progressBar {
  height: 100%;
  background-color: #fca311;
}

/* Setup the classes for the timeline (based off of code from https://freefrontend.com/css-timelines/)*/
.timeline::before {/* this pseudo-element forms the line, and just sits left of all the timeline entries */
  content: '';
  position: absolute;
  left: 1em;
  background-color: #fdfdfd;
  width: 4px;
  height: 100%;
  margin-right: 0em;
  transform: translate(-50%);
}

.timeline::after {/* this pseudo-element forms the sctive line, and just sits above the before psudeo element */
  content: '';
  position: absolute;
  top: 0;
  left: 1em;
  background-color: #fca311;
  width: 4px;
  height: 25%;
  margin-right: 0em;
  transform: translate(-50%);
  z-index: 1;
}

.timeline {
  margin-top: 2em;
  padding-left: 2em;
  height: 100%;
  position: relative;
  background-color: #333;
}

.timelineEntry::before {/* this pseudo-element forms the dots next to each entry in timeline */
  content: '';
  position: absolute;
  left: 1em;
  transform: translate(-50%);
  background-color: #333;
  border-style: solid;
  border-color: #fdfdfd;
  border-width: 4px;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.timelineEntry.active::before {/* this pseudo-element forms the colored dots in each active entry in timeline */
  content: '';
  position: absolute;
  left: 1em;
  transform: translate(-50%);
  background-color: #333;
  border-style: solid;
  border-color: #fca311;
  border-width: 4px;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
}

.timelineEntry {
  color: #fff;
  margin-bottom: 1em;
  margin-left: 0.5em;
  max-width: 50em;
}

.timelineEntry:last-child {/* remove the bottom padding from the last entry */
  margin-bottom: 0em;
}

.timelineEntry:last-child::after {/* this pseudo element renders the cap at the end of the timline */
  content: '';
  position: absolute;
  left: 1em;
  transform: translate(-50%);
  border-style: solid;
  border-color: #fdfdfd;
  border-top-width: 2px;
  border-bottom-width: 0;
  height: 0;
  width: 0.5em;
}

.timelineDate {
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 0.5em;
}

.timelineTitle {
  font-weight: bold;
  font-size: 15pt;
}

.timelineBody {
  display: none;
}

/* edit the canvas */
#perlin {
  background: #333;
}

/* formating the footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #242323/*#242323*/;
  display: grid;
  align-items: center;
  text-align: center;
  color:  #e9ecf0;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
}

.contactIcon {
  width: 2em;
  height: 2em;
}

#email:hover {
  content: url("../Images/email_hover.svg");
}

#github:hover {
  content: url("../Images/github_hover.svg");
}

#linkedIn:hover {
  content: url("../Images/linkedin_hover.svg");
}