* {
	margin: 0;/*remove default margins so the results are the same in differnt browers*/
	padding: 0;/*remove default padding so the results are the same in differnt browers*/
	font-family: arial;/*set defualt font to arial*/
}

  /*                           */
 /* format the navigation bar */
/*                           */
nav {
  position: absolute;
  top: 1em; /* push the nav menu down 1em */
	width: 100%;
	height: 2em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  float: right;
  height: 100%;
  margin-right: 2em; /* add a margin on the right of the navigaion menu so the nav items don't sit right next to the edge of the screen */
}

nav li {
  display: inline;
  float: left;
  height: 100%;
  width: 6em;
  line-height: 2em;
}

nav li:hover {
  background-color: rgba(255,255,255,0.5);
}

nav a {
  display: block;
  color: #232323;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* create the link underline, and its animation to play when it loads.*/
#navUnderline {
  height: .15rem;
  position: relative;
  top: -0.5em;
  left: 6.67%; /* push the element in a bit to center it, amount is calculated by (left=33.33%-width/2), 33.33% comes from the width of the list items (1/3), this needs to be updated if more pages are added */
  width: 20%; /* if the units of width of this element is not in % it isn't positioned properly */
  background: #232323;
  border: none;
  pointer-events: none; /* disable hovering over this element so that it doesn't interupt hovering over the list items */
  transition: .3s ease-in-out;/* create smooth natural looking animation when changing properties */
  animation-name: introNavUnderline;
  animation-duration: .3s;
}

@keyframes introNavUnderline {
  0%   {left: 0;     width: 33.33%; top: 0.5em;  opacity: 0.5;}
  100% {left: 6.67%; width: 20%;    top: -0.5em; opacity: 1;  }
}

li:nth-of-type(1).currentTab ~ #navUnderline {
  color: #000;
  /*margin-left: 0;*/
}

li:nth-of-type(2).currentTab ~ #navUnderline {
  margin-left: 6em;
}

li:nth-of-type(3).currentTab ~ #navUnderline {
  margin-left: 12em;
}

/* code below based of off content from https://speckyboy.com/underline-text-effects-css/ (section 3. Sliding underneath) */
nav li:nth-of-type(1):hover ~ #navUnderline {
  margin-left: 0;
}

nav li:nth-of-type(2):hover ~ #navUnderline {
  margin-left: 33.33%; /* as there are only 3 list items, the width of a single element is aproximatley 33.33% */
}

nav li:nth-of-type(3):hover ~ #navUnderline {
  margin-left: 66.66%;
}

  /*                         */
 /* format the main content */
/*                         */

html, body {
  height: 100%;
}

main {
  background-color: #d7d8d3;
}

.background, .background img {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header { /* this is for the titles on each page */
  height: 3em;
  text-align: center;
}

.contentIndex { /* This class is for the main content in the middle of the home page */
  display: grid;
  float: none;
  grid-template-columns: 65% 35%;
  padding: 1em;
  margin: 2em auto;
  max-width: 40em;
  border-radius: 10px;
  background-color: #242323;
  color: white;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z: 1;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* settings for box shadow taken from w3 schools - https://www.w3schools.com/css/css3_shadows_box.asp */
}

#contentRight { /* this div contains the displayPic on the right side of the home page, and is used to position and size it */
  padding-right: 3em;
  padding-top: 1em;
}

#displayPic { /* Setup the main picture on the index page */
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 1px #e9ecf0;
}

.content { /* defines the content formatting for the about and contact pages */
  float: none;
  padding: 1em;
  margin: 2em auto;
  max-width: 50em;
  border-radius: 10px;
  position: relative;
  left: 0;
  right: 0;
  z: 1;
  color: white;
}

.title { /* this is needed to center align the titles on the contact and about pages */
  text-align: center;
}

#profilePic { /* Setup the profile pic as a circular badge */
  position: relative;
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: 0 0;
  border: 0.1em solid #666;
  border-radius: 50%;
  margin-right: 1em;
  transform: translateY(25%);
}

.contactTitle { /* the contact details are presented in a table, this class is used on the left column */
  font-weight: bold;
  padding-right: 1em;
}

  /*                                                        */
 /* Setup the classes for the skills bars on the home page */
/*                                                        */
#skills { /* this formats the whole skills block-element*/
  width: 100%;
  padding-left: 2em;
  padding-right: 8em;
  font-weight: bold;
}

.progressBackground { /* this is for the background behind the progess bar */
  height: 0.7em;
  width: 100%;
  background-color: #333;
}

.progressBar { /* this forms tha progress bar itself */
  height: 100%;
  background-color: #fca311;
}

  /*                                                                                                    */
 /* Setup the classes for the timeline (based off of code from https://freefrontend.com/css-timelines/)*/
/*                                                                                                    */

.timeline {
  margin-top: 2em;
  padding-left: 6em;
  height: 100%;
  position: relative;
  left: 0;
  width: auto;
  margin-left: 0em;
}

.timelineHeader::before { /* this pseudo-element forms the dots next to each entry in timeline */
  content: '';
  position: absolute;
  left: -1em;
  transform: translate(-50%);
  background-color: #333;
  border-style: solid;
  border-color: #fdfdfd;
  border-width: 4px;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
}

.timelineEntry {
  position: relative;
  color: #fff;
  margin-bottom: 1em;
  cursor: pointer;
}

.timelineEntry:hover {
  color: #fca311;
}

.timelineEntry:hover .timelineBody {
  color: #fdfdfd;
}

.timelineEntry::before { /* this pseudo-element forms the line */
  content: '';
  position: absolute;
  left: -1em;
  bottom: -1em;/* each entry (except the last) has a 1em padding on the bottom */
  background-color: #fdfdfd;
  width: 4px;
  margin-right: 0em;
  transform: translate(-50%);
  height: 100%;
}

.timelineEntry:hover::before { /* this pseudo-element forms the line */
  background-color: #fca311;
}

.timelineEntry:hover .timelineHeader::before { /* this changes the color of the dot when you hovber over the full entry */
  border-color: #fca311;
}

.timelineEntry:last-child { /* remove the bottom padding from the last entry */
  margin-bottom: 0em;
}

.timelineEntry:last-child::before { /* the last entry doesn't have padding, so we don't need to extend the line */
  bottom: 0em;
}

.timelineEntry:last-child::after { /* this pseudo-element renders the cap at the end of the timeline */
  content: '';
  position: absolute;
  left: -1em;
  transform: translate(-50%);
  border-style: solid;
  border-color: #fdfdfd;
  border-top-width: 2px;
  border-bottom-width: 0;
  width: 0.5em;
}

.timelineEntry:last-child:hover::after {
  border-color: #fca311;
}

.timelineDate {
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 0.3em;
}

.timelineTitle {
  font-weight: bold;
  font-size: 15pt;
}

.timelineBody {
  display: none;
  max-width: 50em;
  background-color: #252525;
  padding: 1em;
  margin-top: 0.25em;
  border-radius: 0.5em;
}

  /*                                                               */
 /* formatting for the background canvas element on the home page */
/*                                                               */
#perlin {
  background: #333;
}

  /*                      */
 /* formating the footer */
/*                      */

body {
  display: grid;
  grid-template-rows: auto 4em;/* a grid template is use to make sure the body takes up at least 1vh. the last number set sthe height of the footer */
}

footer {
  width: 100%;
  height: auto;
  background-color: #242323/*#242323*/;
  display: grid;
  align-items: center;
  text-align: center;
  color:  #e9ecf0;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
}

.contactIcon {
  width: 2em;
  height: 2em;
}

#email:hover {
  content: url("../Images/email_hover.svg");
}

#github:hover {
  content: url("../Images/github_hover.svg");
}

#linkedIn:hover {
  content: url("../Images/linkedin_hover.svg");
}